<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <section class="mainBody">   

   
<div class="login-card card">
    <h2><%= user.userName %>, please enter your 3 numbers for Day #<%= weightData.dbtodaysdaynumber %>. </h2>
    <form action="/entry/dailyEntry/<%= weightData.id %>?_method=PUT"
        method="POST">
        <div class="showcase-form">
    <input type="text" class="form-control" id="weight" name="weight" placeholder="Weight This Morning">
    <input type="text" class="form-control" id="calin" name="calin" placeholder="Calories In (Yesterday)">
    <input type="text" class="form-control" id="calout" name="calout" placeholder="Calories Out (Yesterday)" >
    <button class="btn" type="submit">Submit</button>
        </div>
   </form>

</div>
    </section>
<a class="btn" href="/logout">Logout</a>
</body>
</html>
