<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


    <title>Document</title>
</head>

<body>
    <section>
        <div class="container index-card-grid ">

        <div class="card card1">
            <h1>Already have a 5-week plan?    Click here to log in! <i class="fa fa-arrow-right" aria-hidden="true"> </i> <a class="btn" href="/login"> Login</a></h1>
        </div>

        <div class="card card2">
            <h2>CICO Guidelines</h2>
            <h3>Weight loss isn't easy, but it is pretty simple!</h3>
            <p><i class="fa fa-arrow-right" aria-hidden="true"></i>  CICO stands for Calories In, Calories Out.</p>
            <p><i class="fa fa-arrow-right" aria-hidden="true"></i>  If you consistently consume fewer calories than you burn, your weight will decrease over time.</p>
            <p><i class="fa fa-arrow-right" aria-hidden="true"></i>  Daily Calorie Deficit = (calories burned per day)  - (calories consumed per day) </p>
            <p><i class="fa fa-arrow-right" aria-hidden="true"></i>  A 500 calorie/day average deficit results in a 1 lb/week weight loss.</p>
            <p><i class="fa fa-arrow-right" aria-hidden="true"></i>  A 1000 calorie/day average deficit results in a 2 lb/week weight loss.</p>
        </div>
     
        <div class="card card3">
            <h2>How much can you lose in 5 weeks?</h2>
            <p>What do you weigh?</p>
            <form>
                <div class="showcase-form">
                    <input id="start-weight" type="text" name="starting-weight" placeholder="Enter Starting Weight (lbs)" required>
                </div>
            <p>What is your average daily calorie deficit goal? </p>    
                <div class="form-control showcase-form">
                        <input id="deficit-goal" type="text" name="daily-deficit-goal" placeholder="Enter Daily Calorie Deficit" required>
                </div>
                <button id="see-results" class="btn" type="button" name="button">Click to see results</button>
            </form>
        </div>    

        <div class="card card4">
            <h1>If your starting weight is <span id="startWeightOut">_______ </span> ,</h1>
            <h1>and you average <span id="calDefOut">_______</span> calorie/day deficit,</h1>
            <h1> in 5 weeks you will weigh <span id="goal-weight-output">_______</span> pounds.</h1>
        </div>

        <div class="card card5">
            <h1>Ready to lose weight?    Click here to start! <i class="fa fa-arrow-right" aria-hidden="true"> </i>  <a class="btn" href="/signup"> Signup</a></h1>
        </div>

    </div>  
    </section>



<a class="btn" href="/logout">Logout</a>

<script type ="text/javascript" src="main.js" defer="defer"></script>    
</body>

</html>