<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="utilities.css">
    <link rel="stylesheet" href="style.css">
    <title>Login Page</title>
</head>
<body>
<div class="outside">   

 <div class="login-card card">

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form  action="/login" method="POST">
        <div class="showcase-form"></div>
        <input type="email" name="email" placeholder="Enter your email address">
        <br>
        <input type="password" name="password" placeholder="Enter your password">
        <br>
        <input class="btn" type="submit" value="Submit">
        </div>
    </form>
    
  </div>
 
</div>
</body>
</html>