<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Sign Up</title>
</head>
<body>
<div class="outside">  


 <!-- MainBody -->
 <div class="mainBody container">

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <div class="signup-card">
    <h2>Fill in the following fields to create an account...</h2>
    <form action="/signup" method="POST">
        <input type="text" name="userName" placeholder="User Name">
        <br>
        <input type="email" name="email" placeholder="Email">
        <br>
        <input type="password" name="password" placeholder="Password">
        <br>
        <input type="password" name="confirmPassword" placeholder="Confirm Password">
        <br>
        <input type="submit" value="Submit">
    </form>
    </div>
</div>


</div>
</body>
</html>