<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <section class="mainBody">  


<div class="login-card card">
    <form action="/entry/updateAvg/<%= weightData[0].id %>?_method=PUT"
        method="POST">
        <h1>Your numbers have been entered.  Click here to see your progress. <i class="fa fa-arrow-right" aria-hidden="true"> </i>
        <button class="btn" type="submit">Woohoo!</button> </h1>
    </form>
</div>
    </section>
<a class="btn" href="/logout">Logout</a>
</body>
</html>
